@mixin wrapper($size) {
    width: 90%;
    margin-inline: auto;
    @media screen and (min-width: $size) {
        max-width: 76rem;
    }
}
@mixin breakpoint($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

@mixin animation {
    transition: all 0.3s ease-in;
}
